@if (show()) {
  <div class="w-screen h-screen fixed top-0 left-0 bg-black/30 backdrop-blur-sm z-50 flex items-center justify-center">
    <div class="flex flex-col gap-2 items-center justify-center">
      <div>
        <img class="w-14 h-14 mb-3" alt="imagen logo"
             src="https://portalweb.unas.edu.pe/sites/all/themes/business_responsive_theme/logo.png">
      </div>
      <div>
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>

}
